pandas==2.2.0
requests==2.31.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
matplotlib==3.8.2
seaborn==0.13.2
python-dotenv==1.0.1
streamlit==1.31.0
plotly==5.18.0
statsmodels==0.14.1
xgboost==2.0.3
scikit-learn==1.4.0
pytest==8.0.0